
/*----------- HEADER OG BAKGRUNN ------------*/

/* Styler overskriften og bilde  */
.HEADER {
    position: relative; 
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Styler posisjonene til bilde og gjør at bilde kommer bak teksten  */
.HEADER::before{       
    content: "";
    background-image: url(BilderEksamen/Booking-Forside.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

/* Styler overskriften og setter posisjonen */
.HEADER #overskrift {
    text-align: center;
    position:absolute;
    bottom: 0%;
    top: 75%;
    left: 4.5%;
    letter-spacing: 8px;
    font-family: 'Playfair Display', serif;
    font-size:6vw;
    max-width: 100%;
    max-height: 100%;
}

/* Tekstboks i heading
    Lager en tekstboks med svak bakgrunn, og bestemmer tekst*/
    .BOOKINGTEKST{
        position: absolute;
        bottom: 100px;
        right: 7px;
        width: 350px;        
        height: 400px;
        padding: 0 13px 0 13px;
        margin: 30px 0 110px 0;
        background: rgba(47,74,97,0.7);
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    





/*------------- BORDBOOKING - SKJEMA ---------------*/

/* Setter bakgrunnsfarge og padding fra BORDBOOKING-boksen*/
.BOOKING{
    background-color: #1C2D3C;
    padding:80px;
}

/* Bestemmer plassering og størrelse på tekst og skjema*/
.BORDBOOKING {
    font-size: 20px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    justify-content: center;
    display:flex;
}

/*Bestemmer skriftstørrelse og -plassering*/
.BORDBOOKING p {
    text-align: center;
    font-size: 25px;   
}

/* Endrer størrelse, kanter og bord på innfyllingsboksene i skjemaet.
    Bruker defult størrelse på boksene.*/
input{
    border-radius: 4px;
    border-style: none;
}

/*Legger inn mellomrom under hver input-boks*/
#label{
    padding-bottom: 20px;    
}




/*------------- SELSKAP ---------------*/

.SELSKAP {
    text-align: center;
    justify-content: center;
    padding-top: 50px ;
    padding-bottom: 60px;
    flex-wrap: wrap;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;  
}


.SELSKAP > div {
    width: 700px;
    font-size: 20px;
    justify-content: center;
    margin: auto;   
}

#tekst2 h2{
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 40px;   
}




/*------------- BESKRIVELSE AV ROMMENE ---------------*/

    .CHAMBRE h1{
        font-weight: 100;
        letter-spacing: 0.02em;
        font-size: 35px;
        text-align: center;
        margin: 0;
        padding-top: 30px;

    }


    .ROM {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        text-align: center;
        width: 100%;
        padding-bottom: 80px;
      
    }
    
    .ROM > div {
        width: 500px;
        font-size: 20px;
        padding: 30px;
    }

     .ROM  .overskrift{
        letter-spacing: -0.02em;
        font-size: 25px;
    } 
    
    .ROM h2{
        font-weight: 100;
        letter-spacing: 0.1em;
        font-size: 25px;
        padding-bottom: 30px;
    }

    .ROM img{
        border-radius: 5px;
        width: 90%;
    }

    

   
    /*------------- BUTTON: "kontakt oss for mer informasjon" BOOKING VIA MAIL ---------------*/

    .button{
        background-color: #0B131A;
        border: none;
        color:white;
        padding: 20px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        transition-duration: 0.5s;
        font-family: 'Montserrat', sans-serif;
        border-radius: 12px;   
    }
    
    .button:hover{
        background-color: #555555;
        opacity: 0.5;
    }
    
    .MERINFO {
        justify-content: center;
        margin-top: 90px;
    }
    
